<template>
  <v-container>
    <v-row justify="center" >
      {{$vuetify.breakpoints}}
      <v-col v-for="video in videos" :key="video.name" lg="3" cols="12">
        <v-card class="mx-auto">
          {{play}}
          <video v-if="video.boto" width="100%" :controls="video.control" 
            :autoplay="video.auto" poster="/logo_uoc.png">
            <source :src="video.source" :type="video.type">
          </video>
          
          <v-btn @click="mostrarVideo(video)" :color="video.btnColor" class="pb-0" text>
            {{ video.boto ? video.amagar : video.veure }}
          </v-btn>

          <v-card-text class="text--primary">
            <div>{{ video.codificacio }}</div>
          </v-card-text>

          <v-card-actions>
            
            <v-btn color="orange" @click="activarControl(video)" text>
              Controls
            </v-btn>

            <v-btn color="orange" @click="activarAutoplay(video)" text>
              Autoplay
            </v-btn>

          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'Activitat1',

    data: () => ({
      videos: [
        { 
          name: "mp4",
          source: '/aplaudiments.mp4',
          type: 'video/mp4',
          btnColor: 'red',
          boto: false,
          veure: 'Veure vídeo MP4',
          amagar: 'Amagar vídeo MP4',
          codificacio: 'Fitxer codificat amb H264 i AAC dins del contenedor MP4.',
          control: true,
          auto: false
        },
        {
          name: "ogg",
          source: '/aplaudiments.ogg',
          type: 'video/ogg',
          btnColor: 'red',
          boto: false,
          veure: 'Veure vídeo Ogg',
          amagar: 'Amagar vídeo Ogg',
          codificacio: 'Fitxer codificat amb Theora i Vorbis dins del contenedor Ogg.',
          control: true,
          auto: false
        },
        {
          name: "webm",
          source: '/aplaudiments.webm',
          type: 'video/webm',
          btnColor: 'red',
          boto: false,
          veure: 'Veure vídeo WebM',
          amagar: 'Amagar vídeo WebM',
          codificacio: 'Fitxer codificat amb VP8 i Vorbis dins del contenedor WebM.',
          control: true,
          auto: false
        },
      ],
    }),

    methods:{
      mostrarVideo: function(video){
        video.boto = !video.boto
        video.btnColor = video.boto ? 'blue' : 'red'
      },
      activarControl: function(video){
        video.control = !video.control
      },
      activarAutoplay: function(video){
        video.auto = !video.auto
      }
    }
  }
</script>
