<template>
    <v-container>
      <div>
        <v-stepper v-model="e1" :vertical="vertical" :alt-labels="altLabels">
          <template>
                  <v-stepper-step :editable="
                    editable" step="1">
                    Tasca 1
                  </v-stepper-step>
              <v-stepper-content step="1">
                <v-card class="mx-auto center">
                  <v-card-text class="text--primary text-center">
                  Vídeo original <br>He utilitzat del minut 1:40 al 2:03 per a la PAC.
                  <br>
                  <iframe src="https://www.youtube.com/embed/Fpl5UYZ64i0?start=100" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </v-card-text>
                </v-card>
              </v-stepper-content>
                  <v-stepper-step :editable="
                    editable" step="2">
                    Tasca 2
                  </v-stepper-step>
              <v-stepper-content step="2">
                <v-card class="mx-auto">
                  <v-card-text class="text--primary text-justify">
                    En la primera imatge la taxa de bits el contingut mitjana vaig considerar que es trobava en 4300kb/s.
                    <br>
                    En la segona imatge de es pot apreciar com els codificadors són FLV i MP3.
                  </v-card-text>
                  <v-carousel :show-arrows="true">
                    <v-carousel-item contain
                      v-for="(item,i) in tasca2"
                      :key="i"
                      :src="item.src"
                    ></v-carousel-item>
                  </v-carousel>
                </v-card>
              </v-stepper-content>
                  <v-stepper-step :editable="
                    editable" step="3">
                    Tasca 3
                  </v-stepper-step>
              <v-stepper-content step="3">
                <v-card class="mx-auto">
                  <v-card-text class="text--primary text-justify">                  
                    En la imatge la taxa de bits el contingut mitjana vaig considerar que es trobava en 300kb/s.
                    <br>
                    En la segona imatge es pot apreciar com els codificadors són H264 i MPGA.
                  </v-card-text>
                  <v-carousel :show-arrows="true">
                    <v-carousel-item contain
                      v-for="(item,i) in tasca3"
                      :key="i"
                      :src="item.src"
                    ></v-carousel-item>
                  </v-carousel>
                </v-card>
              </v-stepper-content>
                  <v-stepper-step :editable="
                    editable" step="4">
                    Tasca 4
                  </v-stepper-step>
              <v-stepper-content step="4">
                <v-card class="mx-auto">
                  <v-card-text class="text--primary text-justify">
                    <p> 
                        Tarda uns 1-2 segons en parar-se i uns 1-2 en tornar a arrencar.
                    </p>
                    <p> 
                        Per a emetre el vídeo utilitzem el protocol RTP (Real-time Transport Protocol). Aquest protocol funciona a través d'UTP, hem de tenir en compte que no estem posant play en una instància de VLC i mirant-lo en una altra, sinó que al posar play estem iniciant la transferència a través de localhost per RTP, i en una altra instància anem a reproduir què hi ha al localhost en el seu port 5000 en aquest cas. Aquest delay de 1-2 segons que hi ha és a causa de l'estona que hi ha entre que emet una instància i arriben les dades a l'altra instància.
                    </p>
                  </v-card-text>
                </v-card>
              </v-stepper-content>
                  <v-stepper-step :editable="
                    editable" step="5">
                    Tasca 5
                  </v-stepper-step>
              <v-stepper-content step="5">
                <v-card class="mx-auto">
                  <v-card-text class="text--primary text-justify"> 
                    Amb les dades que puc extreure de la captura de l'emissor (segona imatge) només puc treure informació de la taxa de bit que envia, el fitxer està configurat a una mitjana de 5000kb/s per tant, si envia a 4500 com a valor mitjà, podem considerar que transcodifica a 500kb/s menys de l'original. 
                    <br>Agafant de valor 4561 kb/s que mostra la imatge, equival a un 91% de la mida original.
                  </v-card-text>                
                  <v-carousel :show-arrows="true">
                    <v-carousel-item contain
                      v-for="(item,i) in tasca5"
                      :key="i"
                      :src="item.src"
                    ></v-carousel-item>
                  </v-carousel>
                </v-card>
              </v-stepper-content>
                  <v-stepper-step :editable="
                    editable" step="6">
                    Tasca 6
                  </v-stepper-step>
              <v-stepper-content step="6">
                <v-card class="mx-auto">
                  <v-carousel :show-arrows="false">
                   <v-card-text class="text--primary text-justify">
                    <div>
                      En la imatge de sota podem veure una imatge del vídeo amb una configuració de vídeo amb WMV+WMA (ASF).
                      <br>
                      En la imatge es pot apreciar com la qualitat de la imatge és més baixa, a la vegada el so no funciona i no reprodueix res. Es pot apreciar com només apareix el codificador de vídeo però no d'àudio. 
                      <br>
                      Si enlloc d'emetre, converteixo el vídeo, la qualitat d'imatge es veu alterada de la mateixa manera però el so sí es reprodueix, per tant puc deduir que el so WMA no pot ser emès (o fa falta alguna extensió o codificador especial).
                    </div>
                  </v-card-text>
                    <v-carousel-item contain
                      v-for="(item,i) in tasca6"
                      :key="i"
                      :src="item.src"
                    ></v-carousel-item>
                   </v-carousel>
                </v-card>
              </v-stepper-content>
                  <v-stepper-step :editable="
                    editable" step="7">
                    Tasca 7
                  </v-stepper-step>
              <v-stepper-content step="7">
                <v-card class="mx-auto">
                <v-carousel :show-arrows="true">                
                  <v-card-text class="text--primary text-justify"> 
                    En les següents imatges podrem apreciar al costat esquerra les estadístiques del receptor i la imatge de la dreta la de l'emissor, l'ordre de les imatges és 2000, 500 i 200 kbps:
                    <br>
                    A cada nou vídeo, els píxels van augmentat de mida i cada vegada s'aprecien més, en la de 500, encara es pot apreciar les imatges, en la de 200 costa una mica reconèixer les imatges, en la Comparativa qualitat imatges 2000, 500 i 200 kbps s'aprecien aquestes diferències..
                  </v-card-text>  
                    <v-carousel-item contain
                      v-for="(item,i) in tasca7"
                      :key="i"
                      :src="item.src"
                    ></v-carousel-item>
                  </v-carousel>
                </v-card>
              </v-stepper-content>
                  <v-stepper-step :editable="
                    editable" step="8">
                    Tasca 8
                  </v-stepper-step>
              <v-stepper-content step="8">
                <v-card class="mx-auto">
                <v-carousel :show-arrows="false">
                  <v-card-text class="text--primary text-justify">
                    Tarda 4 segons en reaccionar, tot i que en algun dels intents era més o menys, prenc 4 com a valor mig.
                    <br>
                    Com he comentat en la tasca 2 per a emetre el vídeo utilitzem el protocol RTP (Real-time Transport Protocol). Aquest protocol funciona a través d'UTP, hem de tenir en compte que no estem posant play en una instància de VLC i mirant-lo en una altra, sinó que al posar play estem iniciant la transferència a través de localhost per RTP, i en una altra instància anem a reproduir què hi ha al localhost en el seu port 5000 en aquest cas. Aquest delay de 4 segons que hi ha és a causa de l'estona que hi ha entre que emet una instància i arriben les dades a l'altra instància. Quan moc la barra lliscant, en el moment que reacciona el receptor aquesta imatge queda bloquejada fins a que l'emissor passa fins a un nou (val a dir que el vídeo té 3 quadres I i la resta són P, en el format del contenidor .avi i en l'original mp4 disposava de 5 I mentre havia 1 P per cada dues B) quadre I proper al lloc on s'havia quedat bloquejat. A partir d'això pot recuperar la informació per aconseguir les imatges que tocaria, és a dir, el so sí canvia però la imatge és queda bloquejada fins aquest nou moment. Sobre la imatge bloquejada s'aprecia com els espais on queda bloquejat i hi hauria canvis queden molt pixelats, mentre la resta es manté bastant bé, tal com es pot apreciar en la imatge Captura de pantalla mòbil. Si mirem les boques que són els elements que més mouen o les mans, tot i que s'aprecia menys, els píxels no mostren la imatge que tocaria.
                  </v-card-text>
                    <v-carousel-item contain
                      v-for="(item,i) in tasca8"
                      :key="i"
                      :src="item.src"
                    ></v-carousel-item>
                  </v-carousel>
                </v-card>
              </v-stepper-content>
                  <v-stepper-step :editable="
                    editable" step="9">
                    Tasca 9
                  </v-stepper-step>
              <v-stepper-content step="9">
                <v-card class="mx-auto">
                  <v-card-text class="text--primary text-justify">
                    Per realitzar la tasca he utilitzat l'aplicació IP Webcam per un dispositiu Android. En la següent imatge s'aprecia una captura de pantalla de les meves pantalles. En la de l'esquerra es veu el panell de configuració que apareix a l'entrar via navegador i a la de la dreta la imatge de la càmera, el noi del costat sóc jo.
                    <br>
                    Per a veure el vídeo he utilitzat la configuració per defecte únicament canviat el port de 8080 a 10000, he creat una xarxa amb un altre dispositiu mòbil i he entrat des del mòbil i el portàtil a la xarxa (amb el router de casa no m'anava). Des de l'ordinador he obert el VLC i he a obert un mitjà a través de xarxa i d'URL he introduït: https://192.168.43.202:10000/video. La informació de com accedir-hi es pot apreciar dins del botó "How do I connect?" que es pot apreciar en la imatge.
                  </v-card-text>
                <v-carousel :show-arrows="true">              
                    <v-carousel-item contain
                      v-for="(item,i) in tasca9"
                      :key="i"
                      :src="item.src"
                    ></v-carousel-item>
                  </v-carousel>
                </v-card>
          </v-stepper-content>
          </template>
        </v-stepper>
      </div>
    </v-container>
</template>

<script>
    export default {
    data () {
      return {
        e1: 1,
        steps: 9,
        vertical: true,
        altLabels: true,
        editable: true,
        tasca2: [
          {
            src: "/t2_bits_contingut.png",
          },
          {
            src: "/t2_codec_emisor.png",
          },
        ],
        tasca3: [
          {
            src: "/t3_bits_contingut.png",
          },
          {
            src: "/t3_codec_receptor.png",
          },
        ],
        tasca5: [
          {
            src: "/t5_comparativa_codecs.png",
          },
          {
            src: "/t5_comparativa_estadistiques.png",
          },
        ],
        tasca6: [
          {
            src: "/t6_wma.PNG",
          },
        ],
        tasca7: [
          {
            src: "/t7_comparativa_2000.png",
          },
          {
            src: "/t7_comparativa_500.png",
          },
          {
            src: "/t7_comparativa_200.png",
          },          
        ],
        tasca8: [
          {
            src: "/t8_captura.PNG",
          },
        ],
        tasca9: [
          {
            src: "/t9_ip_video.png",
          },
          {
            src: "/t9_ip_video_mobil.png",
          },
        ],
      }

    },

    watch: {
      steps (val) {
        if (this.e1 > val) {
          this.e1 = val
        }
      },
      vertical () {
        this.e1 = 2
        requestAnimationFrame(() => this.e1 = 1) // Workarounds
      },
    },

    methods: {
      onInput (val) {
        this.steps = parseInt(val)
      },
      nextStep (n) {
        if (n === this.steps) {
          this.e1 = 1
        } else {
          this.e1 = n + 1
        }
      },
    },
  }
</script>
