<template>
  <v-app>
    <v-app-bar
      app
      color="blue"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          class="shrink mr-2"
          contain
          src="/logo_uoc.png"
          transition="scale-transition"
          width="40"
        />
        <span v-if="$vuetify.breakpoint.mdAndUp" class="mr-2">Prova Avaluació Continua 2</span>
        <span v-else class="mr-2">PAC 2</span>

      </div>

      <v-spacer></v-spacer>
        <span v-if="$vuetify.breakpoint.mdAndUp" class="mr-2">Joel Monné Mesalles</span>
      <v-spacer></v-spacer>
      
      <v-btn v-if="screen" v-on:click="canviarPagina" outlined>
        <span v-if="$vuetify.breakpoint.mdAndUp" class="mr-2">Veure Activitat 2</span>
        <span v-else class="mr-2">Act 2</span>
        <v-icon>mdi-open-in-new</v-icon>        
      </v-btn>
      <v-btn v-else v-on:click="canviarPagina" outlined>
        <span v-if="$vuetify.breakpoint.mdAndUp" class="mr-2">Veure Activitat 1</span>
        <span v-else class="mr-2">Act 1</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-content>
      <Activitat1 v-if="screen"/>
      <Activitat2 v-else/>
      
    </v-content>
  </v-app>
</template>

<script>
import Activitat1 from './components/Activitat1';
import Activitat2 from './components/Activitat2';

export default {
  name: 'App',

  components: {
    Activitat1,
    Activitat2,
  },

  data: () => ({
    screen: true
  }),

  methods:{
    canviarPagina: function(){
      this.screen = !this.screen
    }
  }
};
</script>
